header > h1, header > p, header > div {
    opacity: 0;
    transition: opacity 1s;
}


.opacity-animate {
    opacity: 1 !important;
}


.width-200px-animate {
    width: 200px !important;
}

.width-100-animate {
    width: 100% !important;
}

.margin-top-animate {
    margin-top: 0px !important;
}

.margin-right-animate {
    margin-right: 0px !important;
}

.margin-bottom-animate {
    margin-bottom: 0px !important;
}

.margin-left-animate {
    margin-left: 0px !important;
}



#caracteristicas div {
    opacity: 0;
    transition: opacity 1s;
}



#demo > h2 {
    width: 100%;
    margin-left: 1500px;
    transition: margin 1s;
}

#demo > h3 {
    width: 100%;
    opacity: 0;
    transition: opacity 2s;
}


#demo > a {
    margin-top: 200px;
    transition: margin 1s;
}



#utilidad h2 {
    width: 100%;
    margin-right: 0px;
    transition: margin 1s;
}

#utilidad p {
    width: 100%;
    opacity: 0;
    transition: opacity 3s;
}

#utilidad > article > img {
    margin-left: 1000px;
    transition: margin 1s;
}

#utilidad ul > li {
    margin-top: 200px;
    transition: margin 1s;
}



#interesado > h2 {
    margin-top: 200px;
    transition: margin 1s;
}

#interesado > p {
    opacity: 0;
    transition: opacity 2s;
}

#interesado > form {
    opacity: 0;
    transition: opacity 2s;
}




.item-fundamentos > img {
    width: 0px;
    transition: width 1s;
}

.item-fundamentos > h3 {
    margin-top: 1000px;
    transition: margin 1s;
}

.item-fundamentos > hr {
    width: 0%;
    transition: width 2s;
}

.item-fundamentos > p {
    opacity: 0;
    transition: opacity 2s;
}